<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  {{- partial "head.html" . -}}
  
  {{ if .Site.Params.background }}
    <body onload="init({{ .Site.Params.hitokoto }});"
      style="background: url({{ .Site.Params.background }}) top fixed no-repeat">
  {{ else }}
    <body onload="init({{ .Site.Params.hitokoto }});">
  {{ end }}
    
    {{- partial "header.html" . -}}
  
    <main>
      {{- block "main" . }}{{- end }}
    </main>
  
    {{- partial "footer.html" . -}}
  </body>
</html>
