
<header>
  <nav>
    <div class="nav-left">
      <ul>
        {{ range .Site.Params.nav }}
          <li>
            <a onclick="window.open({{ .url | safeURL }}, '_blank')" tooltip-text="{{ .name }}" onmouseover="showTooltip(this);"
              onmouseout="hideTooltip();">
              {{- if .icon -}}
              <i class="{{ .icon }} u-theme-f"></i>
              {{- else -}}
              <i class="fa fa-globe u-theme-f"></i>
              {{- end -}}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
    <div class="nav-right">
      <ul class="datetime">
        <li class="date">
          <i class="far fa-calendar u-theme-f"></i>&nbsp;
          <span id="current_date"></span>
        </li>
        <li class="time">
          <i class="far fa-clock u-theme-f"></i>&nbsp;
          <span id="current_time"></span>
        </li>
      </ul>
    </div>

    {{/*  Heweather plugin  */}}
    {{ if .Site.Params.heweather }}
    <div id="he-plugin-simple"></div>
    {{ end }}
    {{/*  Heweather plugin ends  */}}
    
  </nav>
</header>
