
<header>
  <nav>
    <div class="nav-left">
      <ul>
        {{ range .Site.Params.nav }}
          <li>
            <a onclick="window.open({{ .url }}, '_blank')" tooltip-text="{{ .name }}" onmouseover="showTooltip(this);"
              onmouseout="hideTooltip();"><i class="{{ .icon }}"></i></a>
          </li>
        {{ end }}
      </ul>
    </div>
    <div class="nav-right">
      <ul class="datetime">
        <li class="date">
          <i class="far fa-calendar"></i>&nbsp;
          <span id="current_date"></span>
        </li>
        <li class="time">
          <i class="far fa-clock"></i>&nbsp;
          <span id="current_time"></span>
        </li>
      </ul>
    </div>
    <!-- Heweather plugin -->
    {{ if .Site.Params.Heweather }}
    <div id="he-plugin-simple"></div>
    {{ end }}
  </nav>
</header>
