{{ define "main" }}

{{ if .Site.Params.searchEngines }}
  <section class="search">
    <div class="searchbox">
      <div id="search-list" class="hide-type-list">
        <div class="search-group">
          <span id="group-name"></span>
          <div class="search-group-list">
            {{ range .Site.Params.searchEngines }}
              <label for="group-{{ .group }}" onclick="changeSearchGroup(this.innerText)">
                <span class="tile-lg">
                  <i class="{{ .icon }}"></i>
                </span>
                {{ .group }}
              </label>
            {{ end }}
          </div> <!--search-group-list end-->
        </div> <!--search-group end-->

        {{ range .Site.Params.searchEngines }}
          <div class="group-items" id="group-{{ .group }}">
            <ul class="search-engines">
              {{ range .items }}
                {{ if .activated }}
                  <li>
                    <input type="radio" name="engine" id="engine-{{ .name }}" 
                      value="{{ .url }}" hidden onchange="changeSearchEngine(this.value)">
                    <label for="engine-{{ .name }}">
                      <span> {{ .name }} </span>
                    </label>
                  </li>
                {{ end }}
              {{ end }}
            </ul>
          </div> <!--group-items end-->
        {{ end }}
      </div> <!--search-list end-->

      <form height="50px" action="" method="get" target="_blank" id="super-search-fm" onsubmit="return doSearch()">
        <input autocomplete="off" type="text" id="search-text" style="outline:none" autofocus="">
        <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </section>
{{ end }}

<div class="hitokoto" onclick="hitokoto()">
  <p id="hitokoto"></p>
  <p id="hitokoto-from"></p>
</div>

<section class="cards">
  {{ range .Site.Params.bookmarks }}
  <div class="card">
    <h3><i class="{{ .icon }}"></i> {{ .group }} </h3>
    <ul>
      {{ range .items }}
        {{ if .icon }}
        <li><a href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .name }}</a></li>
        {{ else }}
        <li><a href="{{ .url }}">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
  {{ end }}
</section>

{{ end }}